{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="login-card">

        <h2 class="title text-center">
            Forgot Password
        </h2>

        <form>

            <div class="mb-3">

                <label class="form-label">
                    Email Address
                </label>

                <input
                    type="email"
                    class="form-control"
                    placeholder="Enter your email">

            </div>

            <button
                type="submit"
                class="btn btn-login">

                Reset Password

            </button>

            <div class="text-center mt-3">

                <a href="/" class="text-white">
                    Back to Login
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}
